USE [IDH]
GO
/****** Object:  StoredProcedure [dbo].[API_GET_COF_ServicosReconhecidosPorGerar_resultset]    Script Date: 16/10/2023 16:27:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[API_GET_COF_ServicosReconhecidosPorGerar_resultset] (
 @QtdPagina int = 10,  
 @PagActual int = 1  
)  
AS  
BEGIN  
BEGIN TRY  

SET NOCOUNT ON
set dateformat ymd

	DROP TABLE IF EXISTS #transferenciaPropriedade;
	DROP TABLE IF EXISTS #TEMPMAIN;
 
 	CREATE TABLE #TEMPMAIN  
		(  
	        IDProcessoProdutoSuplementar numeric(18,0), 
			NumDossier numeric(18,0), 
			Nome varchar(50), 
			Data DateTime, 
			NumMatricula varchar(30), 
			MntDivida numeric(18,2), 
			MntSaldoCredor  numeric(18,2)
		);  

	CREATE TABLE #transferenciaPropriedade  
		(  
			NumDossier numeric(18,0), 
			DtCriacao DateTime
		);  

 	declare @totalRegistos int

	SET NOCOUNT ON

	--lotes dah
	insert into #transferenciaPropriedade 
	select NumDossier, DtCriacao
	from openquery([perseu], '
		select NumDossier, DtCriacao
		from [InterfacesDAH].[dbo].[COF_U_TransferenciaPropriedade]
		where Tipo = ''EXT'' and Processado = ''N''
	');		

	    -- Mudar este index para baixo do insert
	CREATE NONCLUSTERED INDEX [ix_tbltemp]
	ON #transferenciaPropriedade(NumDossier)

	insert into #TEMPMAIN
	select IDProcessoProdutoSuplementar, NumDossier, Nome, Data, NumMatricula, MntDivida, MntSaldoCredor
    from
    (
   select pps.IDProcessoProdutoSuplementar, p.NumDossier, dd.Nome,  
            ((CASE WHEN CodDespesaDiversa IN ('ER1','ER2')   
     THEN    
      COALESCE(ppsd.DtLancamento,(select cuf.DtCriacao 
            from perseu.[InterfacesDAH].[dbo].[COF_U_TransferenciaPropriedade] cuf WITH (NOLOCK)   
            INNER JOIN cof_processo p WITH (NOLOCK) ON p.numdossier = cuf.numdossier  
            where cuf.Tipo = 'EXT' 
            AND p.idprocesso = pps.idprocessocc),'Nao Aplicavel')  
      ELSE pps.CreatedDate END) ) as Data,  
   pa.NumMatricula,  
   cbrd.MntDivida, cbrd.MntSaldoCredor  
    from dbo.COF_ProcessoProdutoSuplementar pps  WITH (NOLOCK) 
    inner join dbo.cof_produtosuplementar ps WITH (NOLOCK)  on pps.IdProdutoSuplementar = ps.IdProdutoSuplementar  
    inner join dbo.dah_despesadiversa dd WITH (NOLOCK) on ps.IdDespesaDiversa = dd.IdDespesaDiversa  
    inner join dbo.COF_ProcessoProdutoSuplementarDetalhe ppsd WITH (NOLOCK) on pps.IDProcessoProdutoSuplementar = ppsd.IdProcessoProdutoSuplementar  
    inner join dbo.cof_processo p WITH (NOLOCK) on p.IDProcesso = pps.IDProcessoCC  
    inner join dbo.cof_processoauto pa WITH (NOLOCK) on p.idprocesso = pa.IDProcesso  
    left join dbo.cof_baseriscodah cbrd WITH (NOLOCK) on cbrd.numdossier = p.numdossier and cbrd.Active = 1  
    left join dbo.COF_ImpressaoMassivaDocServicosDossiers imdsd WITH (NOLOCK) on pps.IDProcessoProdutoSuplementar = imdsd.IdProcessoDespesaDiversa  
    where dd.CodDespesaDiversa IN ('ER1','ER2','DV1','DV2','DR1','DR2') and imdsd.IdProcessoDespesaDiversa IS NULL and pps.DataAnulacao IS NULL  
    UNION
    select pps.IDProcessoProdutoSuplementar, p.NumDossier, dd.Nome, 
		    ((CASE WHEN CodDespesaDiversa IN ('ER1','ER2') THEN 
                    COALESCE(ppsd.DtLancamento,(select cuf.DtCriacao
            from #transferenciaPropriedade cuf 
            where p.numdossier = cuf.numdossier),'Nao Aplicavel')
		    ELSE pps.createddate END) ) as Data,
			pa.NumMatricula,
			cbrd.MntDivida, cbrd.MntSaldoCredor
    from #transferenciaPropriedade  as tp
	inner join dbo.cof_processo p WITH (NOLOCK) on p.NumDossier = tp.NumDossier  
	inner join dbo.COF_ProcessoProdutoSuplementar pps WITH (NOLOCK)  on p.IDProcesso = pps.IdProcessoCc  
	inner join dbo.cof_produtosuplementar ps WITH (NOLOCK) on pps.IdProdutoSuplementarCC = ps.IdProdutoSuplementar  
	inner join dbo.dah_despesadiversa dd WITH (NOLOCK) on ps.IdDespesaDiversa = dd.IdDespesaDiversa  
	inner join dbo.cof_processoauto pa WITH (NOLOCK) on p.idprocesso = pa.IDProcesso  
	left join dbo.cof_baseriscodah cbrd WITH (NOLOCK) on cbrd.numdossier = p.numdossier and cbrd.Active = 1  
	left join dbo.COF_ProcessoProdutoSuplementarDetalhe ppsd WITH (NOLOCK) on pps.IDProcessoProdutoSuplementar = ppsd.IdProcessoProdutoSuplementar  
	left join dbo.COF_ImpressaoMassivaDocServicosDossiers imdsd WITH (NOLOCK) on pps.IDProcessoProdutoSuplementar = imdsd.IdProcessoDespesaDiversa  
	where pps.IdProdutoSuplementar = 4 and imdsd.IdProcessoDespesaDiversa IS NULL and ppsd.IdProcessoProdutoSuplementar IS NULL) servicos  

	select @totalRegistos = count(*)
	from #TEMPMAIN


	select IDProcessoProdutoSuplementar, NumDossier, Nome, Data, NumMatricula, @totalRegistos As TotalRegistos, MntDivida, MntSaldoCredor
	from #TEMPMAIN
	-- ou então retiro este order by
	order by Data asc
	OFFSET @QtdPagina*(@PagActual-1) ROWS FETCH NEXT @QtdPagina ROWS ONLY

	DROP TABLE IF EXISTS #transferenciaPropriedade;
	DROP TABLE IF EXISTS #TEMPMAIN;

    
END TRY  
BEGIN CATCH  
 DECLARE @Erro as VARCHAR(500);  
 SELECT @Erro=ERROR_MESSAGE();  
 INSERT INTO COF_Erros_SP VALUES (ERROR_PROCEDURE(),@Erro,getdate());  
 RAISERROR(@Erro,11,1);  
END CATCH  
END 
